@charset "UTF-8";

:root{
    --cor1: #45214A;
    --cor2: #323050;
    --cor3: #1A6566;
    --cor4: #5D8A66;
    --cor5: #ffffff;
    --cor6: #000000;
}

    *{
        margin: 0px;
        padding: 0px;
    }
a {
    color: white;
    text-decoration: none;

}   
a:hover{
    background-color: var(--cor3);
    color: var(--cor6);
    border-radius: 10px;
} 
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));
    margin: 0px;
    padding: 30px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.587);
}
header > h1{
    color: var(--cor5);
    text-align: center;
}
header > p{
    color: var(--cor5);
    text-align: center;
}
nav {
    background-color: #29274d;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.591);
    min-height: 23px;
}
nav > a{
    padding: 10px;
    color: var(--cor5);
    text-decoration: none;
    font-weight: bold;
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor2);
    border-radius: 20px;
}
body{
    background-color: var(--cor1);
}
article{
    background-color: var(--cor5);
    min-height: 300px;
    min-width: 500px;
    max-width: 600px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 15px;
}
article > p{
    margin-top: 15px;
    margin-left: 10px;
    text-align: justify;
}
article > section{
    background-color: var(--cor4);
    height: 200px;
    width: 200px;
    margin-left: 900px;
    text-align: center;
}
article > section > img{
    max-height: 300px;
    max-width: 200px;
}
aside{
    margin-top: 15px;
    columns: 2;
}
aside > img{
    padding-top: 20px;
}
#PYTHON {
        background-color: var(--cor4);
        height: 200px;
        width: 200px;
        margin-left: 100px;
        border-radius: 50%;
        text-align: center;
}
#HTML {
    background-color: var(--cor4);
    height: 200px;
    width: 200px;
    margin-left: 100px;
    border-radius: 50%;
    text-align: center;
}
footer{
    background-color: var(--cor3);
    color: var(--cor5);
    margin-top: 13px;
    text-align: center;
    font-size: 1.1em;

}
